body {
    font-family: Verdana, sans-serif;
    background-color: #f8f1e4;
    margin: 0;
    padding: 0;
}

.main-nav {
    background-color: #333333;
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav li {
    margin: 0 15px;
}

.main-nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
}

.main-nav a:hover {
    background-color: #4682b4;
    color: white;
}

.main-nav .active a {
    background-color: #cd7f32;
    color: white;
}

.main-nav i {
    margin-right: 8px;
}

header {
    background-color: #f8f1e4;
    color: white;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    font-family: Verdana, sans-serif;
    color: #cd7f32;
}

section {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 2px 2px 10px #1e3a5f;
    border-radius: 10px;
    border: 2px solid #4682b4;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

p {
    font-weight: normal;
    color: #333333;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #333333;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    color: white;
    background-color: #cd7f32;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: #4682b4;
}